# Временные файлы 1С
*.cfu
*.log
*.lst
*.tmp
*.dat
*.mxl

# Служебные папки
ExtForms/
ExtReports/
ExtTemplates/
ExtСправка/

# Файлы IDE (если используете VSCode и аналоги)
.vscode/
.idea/

# Данные тестовых баз
*.1CD
*.log